.job-cell {
  display: flex;
  flex-direction: column;
  gap: 7px;

  div:first-child {
    font-weight: 700;
  }
  div:last-child {
    color: #9892b0;
  }
}

.countries-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}
