$primary-color: #580cf5;
$main-bg-color: #2b2863;
$cards-bg-color: #130035;

$success-badge-bg-color: #50cd8933;
$success-badge-text-color: #14ca88;

$danger-badge-bg-color: #430f3b;
$danger-badge-text-color: #e3417b;

$border-radius: 12px;

$text-secondary: #89809f;
